<div class="homepage">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
          url(https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);">
    <h1 class="py-5">The GeekSquad App</h1>
    <%= link_to "C'est ti-par !", events_path, class: "btn btn-primary" %>
    <div class="accroche d-flex flex-column flex-lg-row justify-content-center">
      <div class="items">
        <p> Créer ton event!</p>
        <i class="fas fa-dice-d20"></i>
      </div>
      <div class="items">
        <p> Invite tes potes!</p>
        <i class="fas fa-gamepad"></i>
      </div>
      <div class="items d-flex flex-column justify">
        <p> Joue à l'infini!</p>
        <i class="fas fa-headset"></i>
      </div>
    </div>
  </div>
</div>
